<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
     <meta charset="UTF-8">
</head>
<body>
    {% for location in locations %}
        <h3>{{location.name}}</h3>
        <h4>{{location.country}}</h4>
        <p>{{location.abstract}}</p>
        <img src="{{location.image_file}}">
    {% endfor %}
</body>
</html>
